<div class="container">

<h1>All Emails!</h1>
        
        <div>
        <ul>
        <% @emails.each do |email| %>

        <div class="row">
        <li><%= email.email %></li>
        </div>

        <% end %>
        </ul>
      </tr>

</div>
</div>

