
<head>
<style type="text/css">
div, p, a, li, td { -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
    table td { border-collapse: collapse; border-spacing:0px;}

    @media screen and (max-width: 600px) {
        table[class="bodyMock"] {
            width:300px !important;
        }
        col[class="columnhide" {
            display:none;
            visibility:hidden;
        }
        
        td[class="mobilespacerrow"] {
            height:25px;
        }    
        
        td[class="spacerrow mobilespacerrow"] {
            height:25px;
        }
        
        td[class="cblogocell"] {
            text-align:left !important;
            padding-left:15px;
        }
        
        td[class="findborder"] {
            border-color:#FFFFFF  !important;
        }    
        
        td[class="fixpadding"] {
            padding-left:0px !important;
        }
        
        td[class="welcome"] {
            padding-left:15px !important;
        }
    }
    
    @media screen and (max-device-width: 760px) {
        table[class="bodyMock"] {
            width:300px !important;
        }
        col[class="columnhide" {
            display:none;
            visibility:hidden;
        }
    }
    </style>
    </head>
    <body style="max-width: 600px;">
    <div class="main-content">
    <header class="container">
		<%= image_tag('logo.png', class: "logo") %>
	</header>
<div class="top-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 phone">
            <%= image_tag('wormphone.png', class: "wormphone") %>
          </div>
          <div class="col-sm-5 text">
              <h1>Flappy Worms, coming soon.</h1>
              <div class="description">
                Your challenge is to get the worm across the road… Don't get squashed by cars, eaten by frogs, or rubbed on by dogs.
              </div>
              <h4>Give us your email and get notified when we launch before anyone else!</h4>
              <div class="more-info">
                  
              </div>
          </div>
      </div>
  </div>
</div>


<footer>
<div class="main-content">

		<div class="col-md-4"></div>
		<div class="col-md-4">&copy; 2014 SteveCo Inc.</div>
	</div>
	</div>
	</div>
	</footer>
	</div>
	</body>