<div class="container">
<div style="margin: 0 auto;">

	<%= image_tag('wormphone.jpg') %>
	<h4>Give us your email and get notified when we launch in April 2015</h4>
		<h1 style="font-size: 4em;">Signup Here</h1>
		<%= render 'form' %>
</div>
</div>


