<div class="container">
<div style="margin: 0 auto;">
<p>Your challenge is to get the worm across the road…
</br>
Don't get squashed by cars, eaten by frogs, or rubbed on by dogs.  
</p>

	<%= image_tag('wormphone.jpg') %>

	

<p>Play online with your friends, collect Bitcoins and become famous.  
</p>
	<h4>Give us your email and get notified when we launch in April 2015</h4>

	
		<h4 style="font-size: 1em;"></h4>
		<%= render 'form' %>
</div>
</div>


