<div class="top-content">
  	<div class="container">
	    <div class="row">
	    	<div class="col-sm-6 phone">
	        	<%= image_tag('wormphone.png', class: "wormphone") %>
	        </div>
	        <div class="col-sm-5 text">
	            <h1>Flappy Worms, coming soon.</h1>
	            <div class="description">
	            	Your challenge is to get the worm across the road… Don't get squashed by cars, eaten by frogs, or rubbed on by dogs.
	            </div>
	            <h4>Give us your email and get notified when we launch before anyone else!</h4>
	            <div class="more-info">
									<%= render 'form' %>
	            </div>
	        </div>
	    </div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="middle-content">
				<h1 class="text-center">About Floppy Worms</h1>
				<p>Play online with your friends, collect Bitcoins and become famous.</p>
				<h4>Give us your email and get notified when we launch in April 2015</h4>
			</div>
		</div>
	</div>
</div>



