<div class="container">

<h1>Your Email Has Been Saved!</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @email.email %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> 

</div>